<html>
    <head>
        <title>Teresa's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Teresa's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>ciao, questo è il mio primo blog ufficialmente. vediamo se funziona bla bla bla bla bla.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>mo scrivo qualche altra cosa... zero fantasia .</p>
        </div>
    </body>
</html>